.app {
  box-sizing: border-box;
  min-height: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #fcfcfc;
}

.signUpIn {
  align-self: center;
}

.signUpInContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.signUpInContainer .row {
  margin-left: 0;
  margin-right: 0;
}

.container {
  width: 100%;
}

.containerShort {
  width: 95%;
  max-width: 500px;
  margin: auto;
}

.containerFullWide {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

a {
  color: #78c0a8;
}

input {
  padding: 5px 10px;
  line-height: 1.3em;
  height: 50px;
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  color: #383838;
  background: #fcfcfc;
}

select {
  color: #383838;
  background: #fcfcfc;
}

.inputZip {
  width: 175px;
  margin: auto;
  font-size: 1.2em;
  border: 5px solid #78c0a8;
  border-style: double;
  text-align: center;
}

label {
  font-size: 0.8em;
  color: #383838;
  margin-bottom: 0;
}

address {
  font-weight: bold;
  margin: 0 50px 10px;
  padding: 5px;
  border-radius: 2px;
  background-color: #f4f4f4;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

::placeholder {
  font-size: 1em;
  opacity: 0.5;
}

.divideLine {
  width: 50%;
  border-top: 1px solid grey;
  margin: auto;
}

.navbar {
  margin-bottom: 0;
  min-height: 1px;
}

.navbar-toggle {
  padding: 4px 4px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-color: #ff0000 !important;
}

.navbar-inverse,
.navbar {
  background-color: inherit;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #3f362a !important;
}

.nav-tabs {
  margin-top: 30px;
}

.nav-tabs > li > a {
  /* border: 1px solid #fef596; */
  color: #383838;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #ff0000;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ff0000;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.offer {
  align-items: center;
  font-size: 1em;
  color: #383838;
  font-family: "Luckiest Guy", cursive;
  padding: 10px;
  border-radius: 2px;
  /* border: 1px solid #ff0000; */
  background-color: #f4f4f4;
  /* box-shadow: inset -2px -2px 3px 0px #4f501b; */
  /* background: linear-gradient(to bottom right, #383838 -75%, #f4f4f4 24%); */
}

.headingContainer {
  background-color: white;
  border-bottom: 2px solid #ff0000;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.headingContainerInline {
  display: flex;
  justify-content: space-between;
  padding: 10px 45px;
}

.locationMapContainer {
  margin-bottom: -1px;
  padding-bottom: 20px;
}

.borderRightTheme {
  background-image: url("../img/Color1970scopy.png");
  background-size: 2em 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.contentContainer {
  padding-bottom: 50px;
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.logoSpinner {
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-name: spinner;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
}

.headingLogoMain {
  /* font-family: "Monoton"; */
  font-weight: bold;
  font-size: 4em;
  color: black;
  letter-spacing: 0.05em;
  text-shadow: -1px 0 #fef596, 0 1px #fef596, 4px 0 #fef596, 0 -1px #fef596;
  /* text-shadow: -1px 0 black, 0 1px black, 4px 0 black, 0 -1px black; */
}

.headingLogoMainSmall {
  /* font-family: "Monoton"; */
  font-weight: bold;
  font-size: 2em;
  color: black;
  letter-spacing: 0.05em;
  /* text-shadow: -1px 0 #fef596, 0 1px #fef596, 4px 0 #fef596, 0 -1px #fef596; */
}

.headingLogoSub {
  font-family: "Chicle", cursive;
  font-size: 2em;
  color: #78c0a8;
  margin-top: -25px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
}

.headingLogoSubSmall {
  margin-left: 6px;
  font-family: "Chicle", cursive;
  font-size: 1.5em;
  color: #78c0a8;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
}

.formInputText input {
  color: black;
}

.formTextShadow {
  text-shadow: 1px 1px 1px black;
}

.formHeader h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.formButtonContainer {
  background: inherit;
  border: none;
  display: inline-block !important;
}

.form-group {
  margin-top: 15px;
}

.rightSpace {
  margin-right: 10px;
}

.marginAutos {
  margin-right: auto;
  margin-left: auto;
}

.bigText {
  font-size: 1.2em;
}

.biggerText {
  font-size: 2em;
  line-height: 1;
}

.smallerText {
  font-size: 0.8em;
}

.smallText {
  font-size: 0.7em;
}

.tightLines {
  line-height: 1;
}

.borderIt {
  border: 1px solid black;
}

.alignLeftWithPadding {
  text-align: left;
  padding-left: 10px;
}

.floatLeftAndPull50 {
  float: left;
  padding-left: 10px;
  margin-right: -50px;
}

.floatLeftAndPull20 {
  float: left;
  padding-left: 10px;
  margin-right: -20px;
}

.marginBottom1 {
  margin-bottom: 1em;
}

.inputBottomMarginShort {
  margin-bottom: 0px;
}

.disclaimer {
  margin: 80px 10px 10px 10px;
}

.distance {
  color: #548776;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.zipBox {
  font-family: "Luckiest Guy", cursive;
}

.bizInfoBlock {
  color: #f4f4f4;
  padding: 10px;
  font-size: 1.3em;
  font-weight: bold;
}

.bizInfoBlock div {
  line-height: 1.2em;
}

.bizInfoBlock .offerID {
  font-size: 0.8em;
}

.buttonBox {
  color: white;
  border: 1px solid #ff0000;
  margin: 3px auto 10px;
  background-color: #383838;
  letter-spacing: 0.1em;
}

.buttonGen {
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 50px !important;
  padding: 10px;
  color: #383838;
  width: 50vw;
  max-width: 220px;
  height: auto;
  background-color: #f4f4f4;
  border-radius: 2px;
  margin: 3px;
  border: 1px solid #383838;
}

.catButton {
  color: #383838;
  min-height: 55px;
}

.bizLogoContainer {
  width: 7em;
  max-width: 7em;
  height: 7em;
  background-color: white;
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  border-radius: 3px;
  box-shadow: inset 0 0 2px 0px #4f501b;
  position: relative;
}

.bizLogoContainer .imageInContainer {
  width: 5.9em;
  max-width: 5.9em;
}

.imageInContainer {
  position: absolute;
  height: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}

.itemImageContainer {
  width: 7em;
  max-width: 7em;
  height: 7em;
  margin: auto auto;
  position: relative;
}

.itemImageContainer .imageInContainer {
  width: 6.8em;
  max-width: 6.8em;
}

.mapLogoMarkerContainer {
  width: 3em;
  max-width: 3em;
  height: 3em;
  background-color: white;
  border-radius: 2px;
  border: 1px solid black;
  margin: auto auto;
  position: relative;
}

.mapLogoMarkerContainer .imageInContainer {
  width: 2.9em;
  max-width: 2.9em;
}

.buttonDelete {
  background-color: #ff0000;
  color: white;
}

.verticle {
  display: flex;
  flex-direction: column;
}

strong {
  font-size: 1.3em;
}

.welcomeText {
  text-align: center;
  color: #383838;
}

.margin30top {
  margin-top: 30px !important;
}

.margin30bottom {
  margin-bottom: 30px !important;
}

.margin20bottom {
  margin-bottom: 20px !important;
}

.margin10bottom {
  margin-bottom: 20px !important;
}

.margin0top {
  margin-top: 0 !important;
}

.padding30top {
  padding-top: 30px;
}

.mapGen {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mapSize200 {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.mapSize100 {
  height: 100px;
}

.mapSizeWideShort {
  height: 210px;
}

.mapSizeNoShow {
  opacity: 0;
}

.mapSizeNone {
  height: 0;
  width: 0;
}

.mapHeader {
  padding: 5px 10px 5px 5px;
  font-size: 0.8em;
  display: flex;
}

.mapHeader .mapHeaderToggler {
  margin-right: 10px;
  letter-spacing: normal;
}

.mapHeader .mapHeaderZip {
  letter-spacing: 0.5em;
}

.userLocMarkerContainer {
  font-weight: bold;
  position: relative;
  height: 20px;
  width: 6em;
  color: white;
  background: #ff0000;
  padding: 9px 0;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid black;
}

.userLocMCTransform {
  transform: translate(-50%, -50%);
}

.userLocMarker {
  position: absolute;
}

.couponMargin {
  padding-right: 0;
  padding-left: 0;
}

.couponHeadline {
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.arrowContainer {
  color: #ff0000;
  font-weight: bold;
  padding: 3px 0;
  cursor: pointer;
  margin: 10px;
  height: 100%;
  min-width: 10px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.arrow {
  border: solid #ff0000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.backArrow {
  transform: rotate(135deg);
  margin-right: 10px;
}

.forwardArrow {
  transform: rotate(315deg);
}

.upArrow {
  transform: rotate(225deg);
}

.downArrow {
  transform: rotate(45deg);
  margin: -3px;
}

.mapArrow {
  margin: -3px 0;
}

.offerExpArrow {
  margin-bottom: -26px;
  margin-top: -19px;
}

.offerShrinkArrow {
  margin-bottom: -26px;
  margin-top: -13px;
}

.offerArrowSize {
  padding: 2px;
}

.couponShort {
  position: relative;
  margin: 7px auto;
  max-width: 500px;
  border-style: solid;
  border-width: 2px;
  border-color: #fcfcfc;
  background-color: #62625a;
  color: black;
  font-size: 0.7em;
  padding: 0.2em 0.2em;
}

.sampler {
  position: absolute;
  height: auto;
  right: 0;
  left: 0;
  /* top: 0; */
  bottom: 50px;
  margin: auto auto;
  color: #ff0000;
  font-size: 100px;
  opacity: 0.2;
  transform: rotate(320deg);
}

.couponFade {
  opacity: 0.3;
}

.customBox {
  border: 4px solid #ff0000;
  border-style: inset;
  border-radius: 5px;
  background-color: #fcfcfc;
  color: #383838;
  padding: 20px;
}
