.App {

  margin-top: 20vh;
}

.row {
  display: flex;
  justify-content: center;
}

.catButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-radius: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5vw;
  margin-left: 5vw;
  color: black;
  width: 50vh;
  box-shadow: 7px 2px 20px white;
}

.chosenCat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border-radius: 10%;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 5vw;
  margin-left: 5vw;
  color: black;
  font-size: 1.5em;
  width: 30vh;
  height: 10vh;
  box-shadow: 7px 2px 20px white;
}

.coupon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 10%;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 5vw;
  margin-left: 5vw;
  color: black;
  font-size: 1.5em;
  width: 30vh;
  /*height: 10vh;*/
  box-shadow: 7px 2px 20px white;
}
