.App {
  /*margin-top: 20px;*/
  margin-right: 13%;
}

.container {
  width: 100%;
}

address {
  margin-top: 20px;
  line-height: 1.3em;
}

.offer {
  font-size: 1.3em;
  background-color: #E6AC27;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-shadow:inset -5px -5px 3px 0px #4f501b;
  background: linear-gradient(to bottom right, #F6F7BD 2%, #E6AC27 7%);
}

.headingLogo {
  line-height: 0.5em;
  font-family: 'Monoton';
  font-size: 4em;
  color: #fef596;
  margin-top: 40px;
  letter-spacing: 0.1em;
  text-shadow: -1px 0 black, 0 1px black,
      4px 0 black, 0 -1px black;
}

.headingLogoMini {
  font-family: 'Chicle', cursive;
  font-size: 2em;
  color: #7b8859;
  margin-bottom: 50px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black,
      3px 0 black, 0 -1px black;
}

.bigText {
  font-size: 1.2em;
}

.biggerText {
  font-size: 1.8em;
}

.tightLines {
  line-height: 0.1;
  margin-bottom: 5px;
}

.buttonGen {
  max-width: 170px;
  background-color: #E6AC27;
  border-radius: 4px;
  margin: 10px 3vw;
  color: black;
  padding: 10px;
  border: 1px solid #5f3e29;
  box-shadow: inset 1px 1px 4px 0px white;
 /*box-shadow:inset -3px -3px 7px 0px #F6F7BD;*/
}

.catButton {
  background-color: #fa9d04;
}

.chosenCat {
  background-color: #78C0A8;
}

.backButton {
  color: #F6F7BD;
  border-radius: 50%;
  background-color: #BF4D28;
  font-size: 0.8em;
  margin: 25px;
  padding: 5px;
}

.bizLogo {
  width: 6em;
  max-width: 6em;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow:inset -2px -4px 7px 0px #4f501b;
  padding: 10px;
}

.verticle {
  display: flex;
  flex-direction: column;
}

strong {
  font-size: 1.5em;
}

.coupon {
  border-top: dotted #5f3e29 2px;
  border-right: dotted #5f3e29 3px;
  border-bottom: dotted #5f3e29 3px;
  border-left: dotted #5f3e29 2px;
  background-color: #F6F7BD;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: black;
  font-size: 0.7em;
  width: 100%;
  padding: 1.5em 0em;
  /*box-shadow:inset 0px -3px 7px 0px #E6AC27;*/
  /*box-shadow:inset 0px -3px 7px 0px black;*/
  box-shadow: inset -4px -4px 14px 1px black;
  background:linear-gradient(to bottom, #F6F7BD 60%, #ffcd38 100%);
}

.couponMargin {
  margin-right: -5px;
}

/*colors {
  green: #6a863b;
  green: #637c1b;
  green: #bcee68;
  green: #7b8859;
  yellow: #ffe950;
  yellowCouponFadeLight: #F6F7BD;
  yellowCouponFadeDark: #ffcd38;
  ---------
  aqua: #78C0A8;
  orange: #F07818;
  gold: #F0A830;
  brown: #5E412F;
  tan: #FCEBB6;
  ---------
  stripes:
  tan: #fef596;
  yellow: #fbde03;
  orange: #fa9d04;
  red: #e7450d;
  brown: #3f362a;


}*/
