html {
  /* border-left: solid #3f362a 15px; */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: 'Chicle', cursive;*/

  font-family: 'Risque';
  font-size: 1.6em;
  background-color: rgba(94, 65, 47, 0.2);
  min-height: 800px;
  background-image: url("../img/Color1970scopy.png");
  background-size: 4em 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.navbar-inverse, navbar {
  background-color: #3f362a;
  border-radius: 0;
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fef596;
}

a {
  color: #78C0A8;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fef596;
}
