html {
  /* border-left: solid #3f362a 15px; */
  box-sizing: border-box;
}

body {
  margin: 0 auto 50px;
  padding: 0;
  /*font-family: 'Chicle', cursive;*/
  /* font-family: 'Risque'; */
  font-size: 1.6em;
  /* background-color: rgba(94, 65, 47, 0.2); */
  /* background-color: #5e412f33; */
  /* background-color: #ded9d5; */
  background-color: #383838;
  min-height: 800px;
  background-image: url("../img/Color1970sReverse.png");
  background-size: 3em 100%;
  background-repeat: no-repeat;
  background-position: left;
}

.navbar-inverse,
.navbar {
  /* background-color: #3f362a; */
  background-color: inherit;
  /* border-radius: 0; */
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #3f362a;
  /* border: 1px solid #3f362a; */
}

.nav-tabs > li > a {
  border: 1px solid #fef596;
}

a {
  color: #78c0a8;
}

.navbar-inverse .navbar-toggle .icon-bar {
  /* background-color: #fef596; */
  background-color: #ff0000;
}
